<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6ani-BJK51vC9MRDzwy9D4zDMlRoDtms</string>
	<key>GCM_SENDER_ID</key>
	<string>788395499291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Charan.Demo</string>
	<key>PROJECT_ID</key>
	<string>flirtfusion2-1d748</string>
	<key>STORAGE_BUCKET</key>
	<string>flirtfusion2-1d748.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788395499291:ios:bd91d63a226dcda00abdbe</string>
</dict>
</plist>